<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.alexji.capstone.dgm-proposal-demo</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>/Users/alexji/Desktop/capstone-orallexa-calibration/scripts/dgm_proposal_demo.py</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/alexji/Desktop/capstone-orallexa-calibration</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key>
    <integer>0</integer>
    <key>Hour</key>
    <integer>22</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>/tmp/capstone-dgm-proposal-demo.out</string>
  <key>StandardErrorPath</key>
  <string>/tmp/capstone-dgm-proposal-demo.err</string>
</dict>
</plist>
